[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyfredapi"
version = "0.2.0"
description = "A fully featured FRED API client library for Python."
authors = ["Greg Moore <gwmoore.career@gmail.com>"]
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
requests = "^2.28.1"
pandas = "^1.5.0"
pydantic = "^1.10.2"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.lint]
optional = true

[tool.poetry.group.dev.dependencies]
black = {extras = ["jupyter"], version = "^22.8.0"}
pytest = "^7.1.3"
Sphinx = "5.1.*"
flake8 = "^5.0.4"
isort = "^5.10.1"
mypy = "^0.982"
jupyter = "^1.0.0"
pre-commit = "^2.20.0"
tox = "^3.26.0"
types-requests = "^2.28.11"
types-setuptools = "^65.3.0"
pandas-stubs = "^1.4.4.220919"
myst-parser = "^0.18.0"
sphinxcontrib-napoleon = "^0.7"
nbsphinx = "^0.8.9"
autodoc-pydantic = "^1.7.2"
sphinx-rtd-theme = "^1.0.0"
coverage = "^6.4.4"
flake8-bandit = "^4.1.1"
flake8-docstrings = "^1.6.0"
pytest-cov = "^4.0.0"
pytest-vcr = "^1.0.2"
sphinx-copybutton = "^0.5.0"
rich = "^12.6.0"
sphinx-autobuild = "^2021.3.14"

[tool.poetry.group.docs.dependencies]
Sphinx = "5.1.*"
myst-parser = "^0.18.0"
nbsphinx = "^0.8.9"
autodoc-pydantic = "^1.7.2"
sphinx-rtd-theme = "^1.0.0"
sphinx-copybutton = "^0.5.0"


[tool.poetry.group.lint.dependencies]
mypy = "^0.982"
isort = "^5.10.1"
flake8 = "^5.0.4"
types-requests = "^2.28.11"
types-setuptools = "^65.4.0.0"
pandas = "^1.5.0"
pydantic = "^1.10.2"
coverage = "^6.5.0"
pytest-cov = "^4.0.0"
pytest-vcr = "^1.0.2"
flake8-bandit = "^4.1.1"
flake8-docstrings = "^1.6.0"
pandas-stubs = "^1.5.0.221003"

[tool.black]
exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.nox
    | \.venv
    | \.ipynb_checkpoints
    | _build
    | buck-out
    | build
    | dist
)/
'''

[tool.isort]
profile = "black"
